.btn {}

.btn--bordered {
	margin-top: 2em;
	padding: 0.75em 1em;
	text-transform: lowercase;
	color: $white-color;
	display: inline-block;
	border: 2px solid $white-color;
	text-decoration: none;
	position: relative;

	-webkit-transition: color 0.1s ease-in, border-color 0.125s ease-in;
	transition: color 0.1s ease-in, border-color 0.125s ease-in;

	&:after {
		position: absolute;
		bottom: 0px;
		top: 100%;
		left: 0px;
		right: 0px;
		content: '';
		background: $orange-color;
		-webkit-transition: top 0.125s ease-in;
		transition: top 0.125s ease-in;
	}

	&:hover {
		border-color: $orange-color;

		&:after {
			top: 0px;
			z-index: -1;
		}
	}
}
