.btn {
	min-width: 100px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0.75em 1em;
	text-transform: lowercase;
	color: $white-color;
	border: 2px solid $white-color;
	-webkit-transition: color 0.1s ease-in, border-color 0.125s ease-in;
	transition: color 0.1s ease-in, border-color 0.125s ease-in;

	&:after {
		position: absolute;
		bottom: 0px;
		top: 100%;
		left: 0px;
		right: 0px;
		content: '';
		-webkit-transition: top 0.125s ease-in;
		transition: top 0.125s ease-in;
	}

	&:hover {
		&:after {
			top: 0px;
			z-index: -1;
		}
	}
}

.btn--bordered {
	&:after {
		background: $orange-color;
	}

	&:hover {
		border-color: $orange-color;
	}
}

.btn--twitter {
	
	.fa {
		margin-right: 0.75em;
	}

	&:hover {
		border-color: #55acee;
	}

	&:after {
		background: #55acee;
	}
}
