.popin {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	display: table;

	.popin__inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.popin--home {
	z-index: 3;

	.popin__inner {
		width: 50%;

		.popin__logo-container {
			width: 40%;
			position: relative;
			display: block;
			max-width: 500px;
			margin: 0 auto;
			// padding-left: 3.22%;
			// Ok this sounds a little crazy
			// But it's not.
			// Its just to optically center the logo
			padding-left: 40px;
		}
	}
}

.popin--mic {
	z-index: 1;

	.popin__inner {
		opacity: 0;
	}
}

.popin--end {
	z-index: 2;

	.popin__inner {
		opacity: 0;
	}
}